@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.agenda-title {
  font-family: Baservville;
}
.logo-title {
  font-family: Merriweather;
}
.gradient-text {
  background: linear-gradient(140deg, #013e7d, #985d9b 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* For Firefox */
  background-clip: text;
  color: transparent;
}
.custom-gradient {
  background-image: linear-gradient(
    to bottom right,
    #2f89e4,
    #07386a 40%,
    #985d9b
  );
}
